#portfoliob{
    background-image: url(https://i.pinimg.com/originals/3d/0a/8a/3d0a8afeee28bbeb7d704b335efd34ed.jpg);
    background-size: cover;
}
.texto{
    color: rgb(188, 219, 247);
}
#voltar{
    color: black;
    font-size: 30px;
}
#principal{
    background: rgba(92, 217, 226, 0.253);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
position: absolute;
top: 100px;
width: 500px;
left: 425px;
}
h1{
    position: absolute;
    right: 350px;
}
h4{
    padding-left: 100px;
}
#mim{
    position: absolute;
    bottom: 240px;
    left: 575px;
    font-size: 40px;
    text-decoration: underline  ;
    color: rgb(255, 255, 255);
}
a:link{
    text-decoration: none; 
}
#merchant{
    position: absolute;
    right: 100px;
    top: 200px;
}